.pilot-marker-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pilot-marker {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease;
}

.pilot-marker:hover {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.footer-stats {
  z-index: 1000;
  min-width: 310px;
}

.marker-cluster-small.marker-cluster-selected,
.marker-cluster-medium.marker-cluster-selected,
.marker-cluster-large.marker-cluster-selected,
.marker-cluster-small.marker-cluster-selected div,
.marker-cluster-medium.marker-cluster-selected div,
.marker-cluster-large.marker-cluster-selected div {
  background-color: rgba(255, 69, 21, 0.6) !important;
}

.marker-cluster-small.marker-cluster-selected div span,
.marker-cluster-medium.marker-cluster-selected div span,
.marker-cluster-large.marker-cluster-selected div span {
  color: white;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white;
  font-weight: bold;
}

